/* iOS Cordova Tweak */
.device-cordova.device-ios {
  height: 100vh;
}

/* Your app custom styles here */
:root {
  --f7-list-inset-side-margin: 16px;
  --f7-list-item-cell-margin: 16px;
  --f7-list-item-padding-horizontal: 16px;
  --f7-list-media-item-padding-horizontal: 16px;
  --f7-list-item-text-max-lines: 5;
  --f7-list-chevron-icon-font-size: 20px;
  --f7-list-item-title-font-size: inherit;
  --f7-list-item-title-font-weight: 400;
  --f7-list-item-title-text-color: inherit;
  --f7-list-item-title-line-height: inherit;
  --f7-list-item-title-white-space: nowrap;
  --f7-list-item-subtitle-font-weight: 400;
  --f7-list-item-subtitle-text-color: inherit;
  --f7-list-item-subtitle-line-height: inherit;
  --f7-list-item-text-font-weight: 400;
  --f7-list-item-after-font-weight: 400;
  --f7-list-item-header-text-color: inherit;
  --f7-list-item-header-font-size: 12px;
  --f7-list-item-header-font-weight: 400;
  --f7-list-item-header-line-height: 1.2;
  --f7-list-item-footer-font-size: 12px;
  --f7-list-item-footer-font-weight: 400;
  --f7-list-item-footer-line-height: 1.2;
  --f7-list-button-font-size: inherit;
  --f7-list-button-font-weight: 400;
  --f7-list-item-divider-line-height: inherit;
  --f7-list-group-title-line-height: inherit;
  --f7-list-bg-color: #fff;
  --f7-list-chevron-icon-color: rgba(0, 0, 0, 0.2);
}